
/* display none until init */
.product-carousel{
	display: none;
	opacity:1!important;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
#column-left .product-carousel, #column-right .product-carousel { display:block;}
#column-left .customNavigation, #column-right .customNavigation { display:none;}

#column-left .banners-slider-carousel .customNavigation,
#column-right .banners-slider-carousel .customNavigation{ display:block;}

.product-carousel .slider-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;
}
.product-carousel .slider-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.product-carousel .slider-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.product-carousel .slider-item{
	float: left;
}
.slider-controls .slider-page,
.slider-controls .slider-buttons div{
	cursor: pointer;
}
.slider-controls {
	-webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
 



/* fix */
.product-carousel  .slider-wrapper,
.product-carousel  .slider-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}
.customNavigation    { text-align: center; position:relative;width:100%}
.customNavigation a{
		
	-webkit-tap-highlight-color:transparent;
	display: block;
    float: right;
    position: absolute;
	top: -45px;
    width: 30px;
	height:30px;
	padding:7px 0 0;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.customNavigation a.prev {
    right:35px;
	color:#000;
	cursor:pointer;
}

.product-image .customNavigation a.prev {left:0; color:#000000; width:20px;}
.product-image .customNavigation a.next {right:0; color:#000000; width:20px;}
.product-image  .customNavigation a {top:40px;}

 

.customNavigation a.prev:hover 	{ text-decoration:none;}
.customNavigation a.next {
    right:0px;
	color:#000;
	cursor:pointer;
}
.customNavigation a.next:hover 	{  text-decoration:none;}

.banners-slider-carousel .product-carousel{  width:auto; margin:0 15px; }

.banners-slider-carousel .customNavigation {  
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;
}

.banners-slider-carousel:hover .customNavigation , .related-products:hover .customNavigation { 
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	 }
.related-products .customNavigation {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 64px;
}
.related-products .customNavigation a {
    top: 0;
    transition: all 0.1s ease 0s;
}
.related-products .customNavigation a.prev {
    border: 1px solid #d9d9d9;
    color: #000000;
    cursor: pointer;
    font-size: 18px; 
    padding: 5px 0 5px 5px;
    z-index: 999;
    letter-spacing: 0;
	left:0px;	
	right:auto;
}
.related-products .customNavigation a.prev:hover {text-decoration:none; z-index:999; border:1px solid #000000; color:#fff; background:#000;  }
.related-products .customNavigation a.next {
	cursor:pointer;
	z-index:999; 
	color:#000000;	
	padding: 5px 0 5px 5px;
	border:1px solid #d9d9d9;
	font-size:18px;
	letter-spacing: 0;
	right:0;
	left:auto;
}
.related-products .customNavigation a.next:hover 	{text-decoration:none; z-index:999;  border:1px solid #000000; color:#fff; background:#000;  }

.banners-slider-carousel .customNavigation a.prev {
    border: 1px solid #d9d9d9;
    color: #000000;
    cursor: pointer;
    font-size: 18px;
    left: 0;
    padding: 5px 0 5px 5px;
    top: 45px;
    z-index: 999;
	letter-spacing:0;
}
.banners-slider-carousel .customNavigation a.prev:hover {text-decoration:none; z-index:999; border:1px solid #000000; color:#FFFFFF; background:#000000;}
.banners-slider-carousel .customNavigation a.next {
    right:0px;
	top:45px;
	cursor:pointer;
	z-index:999; 
	color:#000000;
	left:auto;
	padding: 5px 0 5px 5px;
	border:1px solid #d9d9d9;
	font-size:18px;
	letter-spacing:0;
}
.banners-slider-carousel .customNavigation a.next:hover 	{text-decoration:none; z-index:999; border:1px solid #000000; color:#FFFFFF; background:#000000; }


.product-info .product-image .customNavigation    { text-align: center; width:100%; z-index:9;}
.product-info .product-image .customNavigation a{
	-webkit-tap-highlight-color: transparent;
	display: block;
    float: right;
    height: 20px;
    position: absolute;
    top: -34px;
    width: 16px;
	font-size:0;
}
.product-info .product-image .customNavigation span { font-size:0; }
.product-info .product-image .customNavigation span.prev {
    left:0px;
	top:65px;
	position:absolute;
	cursor: pointer;
    height: 33px;
    padding: 7px 0 0;
    position: absolute;      
    width: 20px;
	background:url("../../image/megnor/info-nav.png") no-repeat scroll 0 0px;
}
.product-info .product-image .customNavigation span.prev:hover 	{  text-decoration:none; background-position:0 -33px; }
.product-info .product-image .customNavigation span.next {	
    cursor: pointer;
    height: 33px;
    padding: 7px 0 0;
    position: absolute;
    right: 0px;
    top: 65px;
    width: 20px;
	background:url("../../image/megnor/info-nav.png") no-repeat scroll -24px 0;
}
.product-info .product-image .customNavigation span.next:hover 	{text-decoration:none; background-position: -24px -33px; }


